.DS_Store
drafts/*.aux
drafts/*.log
drafts/*.out
drafts/*.gz
drafts/*.toc
drafts/*.bbl
drafts/*.blg
drafts/*.pdf
AmNat/*.aux
AmNat/*.log
AmNat/*.out
AmNat/*.gz
AmNat/*.toc
AmNat/*.bbl
AmNat/*.blg
AmNat/*.pdf