.DS_Store
drafts/AmNat/*.aux
drafts/AmNat/*.log
drafts/AmNat/*.out
drafts/AmNat/*.gz
drafts/AmNat/*.toc
drafts/AmNat/*.bbl
drafts/AmNat/*.blg
drafts/AmNat/*.pdf

drafts/EcologyandEvolution/*.aux
drafts/EcologyandEvolution/*.log
drafts/EcologyandEvolution/*.out
drafts/EcologyandEvolution/*.gz
drafts/EcologyandEvolution/*.toc
drafts/EcologyandEvolution/*.bbl
drafts/EcologyandEvolution/*.blg
drafts/EcologyandEvolution/*.pdf