.DS_Store
drafts/*.aux
drafts/*.log
drafts/*.out
drafts/*.gz
drafts/*.toc
drafts/*.bbl
drafts/*.blg
drafts/*.pdf
drafts/AmNat/*.aux
drafts/AmNat/*.log
drafts/AmNat/*.out
drafts/AmNat/*.gz
drafts/AmNat/*.toc
drafts/AmNat/*.bbl
drafts/AmNat/*.blg
drafts/AmNat/*.pdf